{
  "swagger": "2.0",
  "host": "api.motion.dev",
  "basePath": "/v1/api",
  "tags": [
    {
      "name": "users",
      "description": "Everything about your users",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/user/": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Add a new user to the project",
        "description": "",
        "operationId": "addUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User object that needs to be added to the project",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Update an existing user",
        "description": "",
        "operationId": "updateUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User object that needs to be added to the project",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateUser"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "User not found"
          },
          "405": {
            "description": "Validation exception"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "users"
        ],
        "summary": "List Users",
        "description": "",
        "operationId": "List users",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "ID of user to return",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "type": "string",
            "description": "Start date that need to be considered for filter",
            "required": false,
            "collectionFormat": "multi"
          },
          {
            "name": "end_date",
            "in": "query",
            "type": "string",
            "description": "End date that need to be considered for filter",
            "required": false,
            "collectionFormat": "multi"
          },
          {
            "name": "page_number",
            "in": "query",
            "type": "integer",
            "description": "Page number be considered for filter",
            "required": false,
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Deletes a user",
        "description": "",
        "operationId": "deleteUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "User id to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "User not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Api-key",
      "in": "header"
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "app_type": {
          "type": "integer",
          "format": "int64"
        },
        "device_token": {
          "type": "integer",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      },
      "xml": {
        "name": "User"
      }
    },
    "UpdateUser": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "string"
        },
        "app_type": {
          "type": "integer",
          "format": "int64"
        },
        "device_token": {
          "type": "integer",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      },
      "xml": {
        "name": "updateUser"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}